#lab_2 a{
  color:#ffb6c1;
}
#lab_2{
  color:#CCCCFF;
}
.lab{
  color:#CCCCFF;
}
.lab a{
  color:green;
}
#lab_3 a{
  color:purple;
}
#lab_4 a{
  color:#ffb6c1
}
#lab_5 a{
  color:purple
}
#lab_6 a{
  color:#ffb6c1
}
