
body {
  margin: 10px;
  background-color: #0B0B0E;
  font-family: "Courier New", monospace;
  font-size: 120%;
}
h1 {
  color: black;
}
p {
  color: #817CA6;
}
#content, #menu {
  margin: 20px;
  padding: 20px;
  border: 1px black;
  background-color: #504D66;
}

#content h1,
#menu h2  {
  margin-top: 2px;
  margin-bottom: 0;
}
#lab_2 a{;
}
#lab_2{
  color:  #f6ffe0;
}
.lab{
  color:  #f6ffe0;
}
.lab a{
  color:  #d7c3de;
}
#lab_3 a{
  color:  #d7c3de;
}
#lab_4 a{
  color:  #d7c3de;
}
#lab_5 a{
  color:  #d7c3de;
}
#lab_6 a{
  color:  #d7c3de;
}
#lab_7 a{
  color:  #d7c3de;
}
#lab_8 a{
  color:  #d7c3de;
}
#lab_9 a{
  color:  #d7c3de;
}
#lab_10 a{
  color:  #d7c3de;
}
#lab_11 a{
  color:  #d7c3de;
}
#lab_12 a{
  color:  #d7c3de;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%
}
.caption {
      text-align: center;
      color: #958FBF
}
figure {
    display: inline-block;
    border: 4px dotted gray;
    margin: 20px;
}
figure img {
    vertical-align: text-top;
    float: center;
}
figure figcaption {
    border: 1px dotted blue;
    text-align: center;
}
